.footer {
  @include text-S($weight: 500);
  @include flex($justify-content: space-between);
  padding: 60px;
  letter-spacing: -0.1px;

  @include media-laptop{
    padding: 40px;
  }

  @include media-tablet {
    padding: 32px;
  }

  @media (max-width: 520px) {
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  @include media-mobile {
    padding: 20px 16px;
  }

  .footer__text {
    @include flex($justify-content: space-between);
    width: 40%;

    @include media-laptop{
      width: 50%;
    }

    @include media-tablet {
      width: 55%;
    }

    .footer__social-media {
      @media (max-width: 520px) {
        margin-bottom: 12px;
      }
    }

    @media (max-width: 520px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }
}