.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 24px;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
  z-index: 600;

  @media (max-width: 1023px) {
    display: flex;
  }

  .hamburger__line {
    background: $color-white;
    display: block;
    @include transition;
    width: 28px;
    height: 3px;

    &:first-of-type {
      margin: 0 0 7px 0;
    }
  }
}

.hamburger__menu {
  background-color: $color-white;
  color: $color-black;
  width: 384px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(384px);
  @include transition;
  z-index: 555;

  @media (max-width: 426px) {
    width: 246px;
  }

  .hamburger__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .hamburger__navigation {
      padding: 30px 0;
      overflow-y: auto;
      transition: left 0.5s ease-out;

      &_active {
        @include media-tablet {
          display: flex;
          z-index: 3;
        }
      }

      .navigation {
        @include flex($flex-direction: column, $align-items: start, $justify-content: space-around);

        & > li {
          padding-left: 48px;
          margin-bottom: 40px;

          @include media-mobile {
            padding-left: 57px;
            margin-bottom: 28px;
          }
        }

        .navigation__link {
          color: $color-black;

          &:hover,
          &:active {
            color: $color-dark-green;
          }
        }
      }
    }
  }
}

.menu-open {
  z-index: 666;

  .hamburger__menu {
    transform: translateX(0);
    @include transition;
  }

  .hamburger {
    z-index: 9999;

    .hamburger__line {
      background: $color-black;
      @include transition;

      &:first-of-type {
        transform: translateY(2.75px) rotate(45deg);
        -webkit-transform: translateY(2.75px) rotate(45deg);
        -moz-transform: translateY(2.75px) rotate(45deg);
        -o-transform: translateY(2.75px) rotate(45deg);
      }

      &:last-of-type {
        transform: translateY(-7.25px) rotate(135deg);
        -webkit-transform: translateY(-7.25px) rotate(135deg);
        -moz-transform: translateY(-7.25px) rotate(135deg);
        -o-transform: translateY(-7.25px) rotate(135deg);
      }
    }
  }
}
