.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 24px;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
  z-index: 600;

  @media (max-width: 1023px) {
    display: flex;
  }

  .hamburger__line {
    background: $color-white;
    display: block;
    @include transition;
    width: 28px;
    height: 3px;

    &:first-of-type {
      margin: 0 0 7px 0;
    }
  }
}


